.rub {
  background: url("../../images/rub_icon.svg") no-repeat;
}

.usd {
  background: url("../../images/usd_icon.svg") no-repeat;
}

.eur{
  background: url("../../images/eur_icon.svg") no-repeat;
}