.button {
  background-color: #4D81E9;
  padding: 16px!important;
  box-shadow: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  border-radius: 11px !important;
  height: auto !important;

  &:hover {
    background-color: #6C97EE;
  }
  &.default {
    background-color: #ffffff;
    border-color: #4D81E9;
    color: #4D81E9
  }
}