.modal {
  width: 100%;
  max-width:100%;
  height: 100vh;
  top:0;
  background: radial-gradient(88.21% 52.92% at 50% 39.15%, #82D2FF 0%, rgba(58, 125, 227, 0) 99.48%), linear-gradient(180deg, #367BE0 0%, #1B45C7 100%), #D9D9D9;
  color: #ffffff;
  padding-bottom:0;
  .secondBg {
    background: linear-gradient(180deg, #367BE0 0%, #1B45C7 100%), #D9D9D9;
  }
  .slider {
    height: 100%;
    :global{
      .slick-list, .slick-track {
        height: 100%;
      }
      .slick-slide {
        > div {
          height: 100%;
        }

        :local{
          .slideItem {
            height: 100%;
            display: flex;
            flex-direction: column;
            ul, ol {
              list-style: disc;
              margin-left: 20px;
              font-size: 18px;
              line-height: 32px;
              &.numeric {
                list-style: none;
                counter-reset: my-counter;
                margin-left: 30px;
                li {
                  position: relative;
                  margin-bottom: 16px;
                  &:last-child {
                    margin-bottom: 0;
                  }
                  &:before {
                    content: counter(my-counter);
                    counter-increment: my-counter;
                    background-color: #ffffff;
                    color:#3170DB;
                    border-radius: 50px;
                    width: 18px;
                    height: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-weight: 800;
                    font-size: 12px;
                    line-height: 14px;
                    position: absolute;
                    left:-30px;
                    top:1px;
                  }
                }
                h4 {
                  font-weight: 600;
                  font-size: 16px;
                  line-height: 19px;
                  margin-bottom: 8px;
                }
                p {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 18px;
                }
              }
            }
          }
        }
      }
    }
  }
  :global {
    .ant-modal-content {
      background-color: transparent;
      width: 100%;
      height: 100%;
      box-shadow: none;
      padding: 0;
      .ant-modal-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        h1 {
          font-size: 32px;
          line-height: 38px;
        }
        p {
          font-size: 17px;
          line-height: 20px;
        }

        .alice-carousel {
          height: 100%;
          > div {
            height: 100%;
          }
          .alice-carousel__dots {
            width: 100%;
            li {
              width: calc(30% - 20px);
              border-radius: 20px;
              height: 3px;
              background: rgba(255, 255, 255, 0.17);
              &.__active {
                background: #ffffff;
              }
            }
          }
          .alice-carousel__next-btn, .alice-carousel__prev-btn {
            display: none;
          }
          .alice-carousel__dots {
            position: absolute;
            top: 14px;
            margin: 0;
          }
          .alice-carousel__wrapper {
            height: 100%;
            :local{
              .slideItem {
                height: 100%;
                display: flex;
                flex-direction: column;
                ul, ol {
                  list-style: disc;
                  margin-left: 20px;
                  font-size: 18px;
                  line-height: 32px;
                  &.numeric {
                    list-style: none;
                    counter-reset: my-counter;
                    margin-left: 30px;
                    li {
                      position: relative;
                      margin-bottom: 16px;
                      &:last-child {
                        margin-bottom: 0;
                      }
                      &:before {
                        content: counter(my-counter);
                        counter-increment: my-counter;
                        background-color: #ffffff;
                        color:#3170DB;
                        border-radius: 50px;
                        width: 18px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 800;
                        font-size: 12px;
                        line-height: 14px;
                        position: absolute;
                        left:-30px;
                        top:1px;
                      }
                    }
                    h4 {
                      font-weight: 600;
                      font-size: 16px;
                      line-height: 19px;
                      margin-bottom: 8px;
                    }
                    p {
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 18px;
                    }
                  }
                }
              }
            }
          }
        }
      }


      .ant-modal-close {
        top: 40px;
        width: 40px;
        height: 40px;
        svg {
          stroke-width: 2;
          fill: #ffffff;
        }
      }
    }
  }
}