* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /*background: var(--tg-theme-bg-color);*/
  background-color: #F0F2F5;
  color: #000000;
  font-family: 'display';
  font-weight: 400;
}

h2 {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
}

h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 20px;
}

p {
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}





.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

:global{
  .ant-input-affix-wrapper-status-error,
  .ant-input-group-wrapper-status-error .ant-input,
  .ant-input-group-wrapper-status-error .ant-input-group-addon{
    border-color: #E53434 !important;
  }
  .ant-form-item-has-error .ant-form-item-explain-error {
    color:#E53434;
  }
  .ant-select {
    .ant-select-selection-placeholder {
      color: #9B9B9B;
    }
  }
  .ant-select-single.ant-select-lg:not(.ant-select-customize-input) {
    .ant-select-selector {
      padding: 0 14px;
    }
  }
  .ant-form-item {
    input {
      font-size: 15px;
      line-height: 18px;
      &::placeholder {
        color: #9B9B9B;
      }
    }
  }
  .ant-tabs {
    .ant-tabs-tab.ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: #3478F6;
      }
    }
    .ant-tabs-ink-bar {
      color: #3478F6;
    }
  }

  ul.list {
    color: #1677ff;
    li {
      color: #000000;
      vertical-align: text-bottom;
      font-size: 15px;
      line-height: 22px;
      list-style-type: none;
      position: relative;
      padding-left: 15px;
      &:before {
        position: absolute;
        color: #000000;
        content: "•";
        padding-right: 10px ;
        top: 1px;
        left: 0;
        font-size: 14px;
      }
      li:before {
        font-size: 7px;
        content: "·";
      }
    }
  }
}